Repository levg34/private-cv: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

flags:
  frontend:
    paths:
      - 'frontend/'
  backend:
    paths:
      - 'backend/'

Update backend.yml
  .github/workflows/backend.yml
Due: none

Update pages.yml
  .github/workflows/pages.yml
Due: none

Update codecov.yml
  codecov.yml
Due: none

Delete codecov.yml
  codecov.yml
Due: none

add flags for codecov (#11)
  .github/workflows/backend.yml
  .github/workflows/pages.yml
  codecov.yml
Due: none

fix Add coverage #2
  README.md
Due: none

add badges
  README.md
Due: none

rename pages.yml frontend.yml
  .github/workflows/frontend.yml
  README.md
Due: none

fix frontend linting
  frontend/src/CartProvider.tsx
  frontend/src/Header.tsx
  frontend/src/cv-sections/CvSection.tsx
Due: frontend

fix #3: Make linting mandatory
  .github/workflows/frontend.yml
  frontend/src/Header.tsx
Due: frontend

carry flags forward
  .github/codecov.yml
Due: none

Fix frontend linting (#19)
  .github/codecov.yml
  .github/workflows/frontend.yml
  frontend/src/CartProvider.tsx
  frontend/src/Header.tsx
  frontend/src/cv-sections/CvSection.tsx
Due: frontend

test
  .github/workflows/backend.yml
Due: none

clear useless code
  .github/workflows/backend.yml
Due: none

test carryforward flags (#20)
  .github/workflows/backend.yml
Due: none

review mask algorithm - fix #6
  backend/test/utils.test.ts
Due: backend

recreate types
  backend/data/mask.json
  backend/server.ts
  backend/test/utils.test.ts
  backend/types/mask-types.ts
  backend/types/masked-types.ts
  backend/utils/utils.ts
Due: backend

create unmask algorithm: fix #7
  backend/test/utils.test.ts
  backend/utils/utils.ts
Due: backend

add nonpassing test requirement
  backend/test/utils.test.ts
Due: backend

add contributing section
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Due: none

move impacted modules section higher
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add contributing section (#21)
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Update README.md (#22)
  README.md
Due: none

add missing section components
  .vscode/settings.json
  frontend/src/CV.tsx
  frontend/src/cv-sections/Formation.tsx
  frontend/src/cv-sections/Internships.tsx
  frontend/src/cv-sections/JobHistory.tsx
  frontend/src/cv-sections/OpenSource.tsx
Due: frontend

working formation section
  frontend/src/cv-sections/Formation.tsx
Due: frontend

correct jobHistory component
  frontend/src/cv-sections/JobHistory.tsx
Due: frontend

add remaining components
  frontend/src/cv-sections/Internships.tsx
  frontend/src/cv-sections/JobHistory.tsx
  frontend/src/cv-sections/OpenSource.tsx
Due: frontend

add missing sections components (#23)
  .vscode/settings.json
  frontend/src/CV.tsx
  frontend/src/cv-sections/Formation.tsx
  frontend/src/cv-sections/Internships.tsx
  frontend/src/cv-sections/JobHistory.tsx
  frontend/src/cv-sections/OpenSource.tsx
Due: frontend

edit CvHeader component
  frontend/src/cv-sections/CvHeader.tsx
Due: frontend

return of the Hidden component
  frontend/src/cv-sections/CvHeader.tsx
Due: frontend

being able to add Picture to cart
  frontend/src/cv-sections/CvHeader.tsx
Due: frontend

add to cart any part of the adress
  frontend/src/cv-sections/CvHeader.tsx
Due: frontend

change birthday to age
  frontend/src/cv-sections/CvHeader.tsx
  frontend/src/utils.ts
Due: frontend

cleanup debug data
  frontend/src/CV.tsx
Due: frontend

separate project link and code link
  frontend/src/cv-sections/OpenSource.tsx
Due: frontend

add tests for new function
  frontend/test/utils.test.ts
Due: frontend
